<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/jquery.min.js"></script>

    <title>Admin</title>
</head>
<style>
    table {
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>

    <div>
        <h1>Welcome <%=username %></h1>
        <a href="/Logout">logout</a>
    </div>
    <br>
    <br>
    <div>
        <a href="Employee/AddProduct">Add Product</a>
    </div>
    <br>
    <br>
    <div>
        <label for="sbox">search product</label><input type="text" placeholder="search product here..." id="sbox">
    </div>
    <br>
    <br>
    <div>
        <table style="width: 600px;" id="list">
            <% for(var i=0; i<plist.length; i++) { %>

            <tr>
                <td>product id</td>
                <td><%=plist[i].id%></td>
            </tr>
            <tr>
                <td>product name</td>
                <td><%=plist[i].name%></td>
            </tr>
            <tr>
                <td>product quantity</td>
                <td><%=plist[i].quantity%></td>
            </tr>
            <tr>
                <td><a href="/Employee/UpdateProduct/<%=plist[i].id%>">Update</a></td>
                <td><a href="/Employee/DeleteProduct/<%=plist[i].id%>">Delete</a></td>
            </tr>

            <% } %>

        </table>
    </div>
    <script>
        $('#sbox').keyup(function () {
            // console.log($(this).val());
            $.ajax({
                url: '/Employee/search',
                method: 'POST',
                dataType: 'JSON',
                data: {
                    key: $(this).val(),
                },
                success: function (data) {
                    if ('plist' in data) {
                        let htx = '';
                        for (let i = 0; i < data.plist.length; i++) {
                            htx += "<tr><td>product id</td><td>" + data.plist[i].id + "</td></tr>";
                            htx += "<tr><td>product name</td><td>" + data.plist[i].name + "</td></tr>";
                            htx += "<tr><td>quantity</td><td>" + data.plist[i].quantity + "</td></tr>";
                            htx += "<tr><td>price</td><td>" + data.plist[i].price + "</td></tr>";

                            htx += "<tr><td><a href='/Employee/UpdateEmployee/" + data.plist[i].id + "'>Update</a></td>";
                            htx += "<td><a href='/Employee/DeleteEmployee/" + data.plist[i].id + "'>Delete</a></td></tr>";
                        }
                        $('#list').html(htx);
                    }
                },
            });

        });
    </script>

</body>

</html>